<div id="content">

    <div class="container mt-5">
        <table class="table">
          <tr>
            <td>
              <div class="cell">
                <h2>Blog Visits</h2>
                <div class="fakeimg">Fake Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                <hr class="d-sm-none">
              </div>
            </td>
            <td>
              <div class="cell">
                <h2>Number of Posts</h2>
                <h5>Title description, Dec 7, 2020</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="cell">
                <h2 class="mt-5">Popular Posts</h2>
                <h5>Title description, Sep 2, 2020</h5>
                <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              </div>
            </td>
            <td>
                <div class="cell">
                    <h2 class="mt-5">Recent Posts</h2>
                    <h5>Title description, Sep 2, 2020</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                  </div>
            </td>
          </tr>
        </table>
      </div>



</div> <!-- end of content -->
