<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #g_id_onload {
      height = 300px;
    }
  </style>
</head>
<body>
  <h1>Admin Login</h1>

  <body>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
       data-client_id="98608838236-a3o7e39ht6dskn17770lvmikjc1a4pdi.apps.googleusercontent.com"
       data-login_uri="/admin/login"
       data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
       data-type="standard"
       data-size="large"
       data-theme="outline"
       data-text="sign_in_with"
       data-shape="rectangular"
       data-logo_alignment="left">
  </div>
  </body>
</body>
</html>