<!DOCTYPE html>

<!-- thymelead 불러오기 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Test</title>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>


<h1>Login with google</h1>

<!-- 파일 읽어서 client id 불러올 것 -->
<div id="g_id_onload" th:data-client_id="${client_id}" data-client_id=""
     data-login_uri="http://localhost:8080/note/login" data-auto_prompt="false">
</div>
<div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
     data-shape="rectangular" data-logo_alignment="left">
</div>

<h1 th:text="${email}">기본 메시지</h1>

</body>

</html>