<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace = "~{/layout/layout1 :: setContent(~{this::content} )}">


  <th:block th:fragment="content">

    <div class="container mt-3">
      <!-- search component -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search by title and content" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>


      <div class="list-group" th:each="dto, state : ${list}">
        <a href="#" class="list-group-item list-group-item-action" th:utext="|${dto.postNo}. ${dto.title}|"></a>
      </div>
    </div>
    <!-- Center-aligned -->
    <br>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:if="${prev}">
        <a class="page-link" th:href="@{/post/list(pageNo=${pageList[0] - 1})}">Prev</a>
      </li>

      <li class="page-item" th:each="pageNo : ${pageList}">
        <a class="page-link" th:href="@{/post/list(pageNo=${pageNo})}" th:text="${pageNo}"></a>
      </li>

      <li class="page-item" th:if="${next}">
        <a class="page-link" th:href="@{/post/list(pageNo=${pageList[pageList.size - 1] + 1})}">Next</a></li>
    </ul>

  </th:block>

</th:block>
